

<%= form_for @album do |f| =%>
  <p>
    <%= f.label :name =%>
    <%= f.text_field :name =%>
  </p>

  <p>
    <%= f.label :description =%>
    <%= f.text_area :description =%>
  </p>

  <%= f.file_field :image %>
  <br>
  <% if @album.image.present? %>
    <%= image_tag(@album.image.url) %>
  <% end %>
  
  <%= f.submit =%>

<% end %>

<%= link_to("Delete Album", album_path(@album), method: :delete, confirm: "Are you sure?") if @album.id %>