<!DOCTYPE html>
<html>
<head>
  <title>Photog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300italic|Merriweather:400,700italic' rel='stylesheet' type='text/css'>
  <script>
    $(function(){
      $("#slides").slidesjs({
        pagination: {
          active: false,
            // [boolean] Create pagination items.
            // You cannot use your own pagination. Sorry.
          effect: "slide"
            // [string] Can be either "slide" or "fade".
        },
        navigation: {
          active: false,
            // [boolean] Generates next and previous buttons.
            // You can set to false and use your own buttons.
            // User defined buttons must have the following:
            // previous button: class="slidesjs-previous slidesjs-navigation"
            // next button: class="slidesjs-next slidesjs-navigation"
          effect: "slide"
            // [string] Can be either "slide" or "fade".
          },
        play: {
          active: false,
            // [boolean] Generate the play and stop buttons.
            // You cannot use your own buttons. Sorry.
          effect: "slide",
            // [string] Can be either "slide" or "fade".
          interval: 3000,
            // [number] Time spent on each slide in milliseconds.
          auto: true,
            // [boolean] Start playing the slideshow on load.
          swap: true,
            // [boolean] show/hide stop and play buttons
          pauseOnHover: false,
            // [boolean] pause a playing slideshow on hover
          restartDelay: 2500
            // [number] restart delay on inactive slideshow
        },
        width: 940,
        height: 528
      });
    });
  </script>
  
</head>
<body>
  <div id="wrapper">
    <div id="banner">
      <div id="header">
        <header><%= link_to 'ELIZABETH TABLER', root_url %></header>
          <h1>photography</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/html/">About</a></li>
          <li> / </li>
          <li><a href="/html/">Contact</a></li>
          <li> / </li>
          <li><a href="/html/">Prints</a></li>
        </ul>
      </nav>
    </div>
    <div class="line-separator"></div>  
    <%= yield %>
    <div class="line-separator"></div> 
    <footer>
      <p>All Content @ 2013 by Elizabeth Tabler </p>
      <div id="social_media">
        <ul>
          <%# -- Twitter Follow Tag %>
          <li><%= link_to(image_tag('social/Twitter.png'), "http://twitter.com/bethtabler")%>
          </li>
          <%# -- Facebook Follow Tag %>
          <li><%= link_to(image_tag('social/Facebook.png'), "http://twitter.com/bethtabler")%>
        </ul>
      </div>  
    </footer>
  </div>
</body>
</html>



